.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
    position: fixed;

    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;

    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    border-bottom: 1px solid rgb(191, 190, 190);
    z-index: 101;
}
.header .item{
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.header .item :hover{
    border-bottom: 3px solid #EFB4D3;
}
.header .item a{
    text-decoration: none;
    color: black;
}


